<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

https://www.immobilienscout24.de/Suche/Wohnung-Miete/Berlin/Berlin?utm_medium=affiliate&utm_source=zanox&utm_campaign=2101095&utm_content=residential_search

https://www.immobilienscout24.de/Suche/S-/P-1/Wohnung-Miete/Berlin/Berlin
